<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <div class="container card" style="...">
        <div class="row justify-content-center container>
        <div class="content">
            <h1>Please enter csv</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="document" id="document" required="required">
                <button id="submit" class="btn btn-primary" >Upload</button>
            </form>
        </div>
    </div>
        </div>
 
    <div id="container" style="width: 50%; margin-top: 100px ;">
        <canvas id="bar-chart"></canvas>
    </div>
 
     <div  id="container2" style="width: 30%;">
        <canvas id="pie-chart1"></canvas>
    </div>

    <div id="container3" style="width: 20%; margin-right: 50px;">
        <canvas id="bar_chart1"></canvas>
    </div>

    <div id="container3" style="width: 20%; margin-right: 100px;">
        <canvas id="bar_chart2"></canvas>
    </div>

    <!-- <div id="container4" style="width: 20%; margin-right: 50px;">
        <canvas id="line-chart"></canvas>
    </div>  -->

    <script>

        ctx = document.getElementById('bar-chart');
        console.log("here");
        // console.log(ctx);
    //     // ctx.height(100);
        df = {{ keys| safe}}
        df1 = {{ values| safe}}
        config = {
        type: 'bar',
        data: {
            datasets: [{
                
                data: df1,
                backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
                hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]

            }],
            labels: df
        },
        options: {
            responsive: true
        },

    };
    var myPieChart = new Chart(ctx, config);

    ctx2 = document.getElementById('pie-chart1');

    df = {{ keys| safe}}
        df1 = {{ values| safe}}
        config2 = {
        type: 'pie',
        data: {
            datasets: [{
                
                data: df1,
                backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
                hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]

            }],
            labels: df
        },
        options: {
            responsive: true
        },

    };
    
    var myPieChart = new Chart(ctx2, config2);


    ctx3 = document.getElementById('bar_chart1');

    df = {{ keys1| safe}}
        df1 = {{ values1| safe}}
        config = {
        type: 'bar',
        data: {
            datasets: [{
                
                data: df1,
                backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
                hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]

            }],
            labels: df
        },
        options: {
            responsive: true
        },

    };
    
    var myPieChart = new Chart(ctx3, config);

    ctx4 = document.getElementById('bar_chart2');

    df = {{ keys2| safe}}
        df1 = {{ values2| safe}}
        config = {
        type: 'bar',
        data: {
            datasets: [{
                
                data: df1,
                backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
                hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]

            }],
            labels: df
        },
        options: {
            responsive: true
        },

    };
    
    var myPieChart1 = new Chart(ctx4, config);

    </script>
</body>
</html>

    