<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/static/assets/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
    <title>OR LOGBOOK</title>
    
</head>
<body class="main_body_section"> 
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <div class="container-fluid mobile-section-header">
    <div class="row">
      <div class="col-md-2 col-xs-2 side_bar_mbl">
        <div class="django_bg_sidebar w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" id="mySidebar">
          <button class="w3-bar-item w3-button w3-large w3-hide-large cross_btn" onclick="w3_close()"> ×</button>
          <h3><a href="#">OR Logbook</a> </h3>
        <ul>
            <li class="active ">
                <a href="{% url 'generate_bar_chart' %}">
                  <i class="fa fa-pie-chart" aria-hidden="true"></i>
                  <p>Dashboard</p>
                </a>
              </li>
              <li>
                <a href="{% url 'Procedure' %}">
                  <i class="fa fa-bars"></i>
                  <p>Procedures</p>
                </a>
              </li>
              {%if not request.user.is_superuser%}
              <li>
                <a href="{% url 'change_password' %}">
                  <i class="fa fa-user-o" aria-hidden="true"></i>
                  <p>User Profile</p>
                </a>
              </li>
              {%endif%}

              {%if request.user.is_superuser%}
              <li>
                <a href="{% url 'delete_user' %}">
                  <i class="fa fa-user-o" aria-hidden="true"></i>
                  <p>User List</p>
                </a>
              </li>
              {%endif%}
              <li>
                <a href="{% url 'logout' %}">
                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                  <p>Logout</p>
                </a>
              </li>
        </ul>
          <!---Start Sidebar User-->
          <div class="d-flex align-items-start orlog_book_sidebar">
            <div class="nav flex-column side_bar_tabs" id="v-pills-tab">
              <ul>
                  <li><a href="{% url 'AddSupervisor' %}"><i class="fa fa-plus"></i>Add Supervisor</a></li>
                  <li><a href="{% url 'AddInstitute' %}"><i class="fa fa-building"></i>Add Institute</a></li>
                  <li><a href="{% url 'AddUser' %}"><i class="fa fa-user"></i>Add User</a></li>
              </ul>  
            </div>
          </div>
          <div class="user_profile_section">
            <ul>
              <li><a href="{% url 'UserProfile' %}"><i class="fa fa-user"></i>User Profile</a></li>
          </ul>
          </div>
          <!----End Sidebar User--->
          <select class="form-select select_box_sidebar fg country" aria-label="Default select example">
            <!-- main screen -->
         <option selected>Select Filter</option>
         <option value="Staff">Staff</option>
         <option value="Sub-Specialty">Sub-Specialty</option>
         <option value="Location">Location</option>
         <option value="Role">Role</option>
         <option value="PGY">PGY</option>
           </select>

           <form method="post" action="">
            {% csrf_token %}
          <div class="get_location get_scroll">
          {% for i in get_location%}
          <input type="checkbox" id="get_location" name="Location" value='{{i}}'>
          <label for="vehicle1" class="color_change"> {{i}}</label><br>
          {%endfor%}
          <div class="btn_select_sbmt">
            <input type="submit" value="Submit">
            </div>
        </div>

                 <div class="sub_specialty get_scroll">
          {% for i in get_sub_specialty%}
          <input type="checkbox" id="sub_specialty" name="Sub-Specialty" value='{{i}}'>
          <label for="vehicle1" class="color_change"> {{i}}</label><br>
          {%endfor%}
          <input type="submit" value="Submit"></div>
        

          <div class="get_role_data get_scroll">
          {% for i in get_role_data %}
          <input type="checkbox" id="get_role_data" name="Role" value='{{i}}'>
          <label for="vehicle1" class="color_change"> {{i}}</label><br>
          {%endfor%}
          <input type="submit" value="Submit">
        </div>

          <div class="get_staff get_scroll">
          {% for i in get_staff %}
          <input type="checkbox" id="myCheckBoxID" name="Staff" value='{{i}}'>
          <label for="vehicle1" class="color_change"> {{i}}</label><br>
          {%endfor%}
          <input type="submit" value="Submit">
        </div>
        <div class="get_pgy get_scroll">
        
        {% for i in get_pgy %}
        
        <input type="checkbox" id="myCheckBoxID" name="PGY" value={{i}}>
        
        <label for="vehicle1" class="color_change"> {{i}}</label><br>
        
        {%endfor%}
        
        <input type="submit" value="Submit">

        </div>     
        </form>
    </div>
    <div class="w3-main" style="margin-left:200px">
    <div class="w3-teal bg_mbl_sectn">
      <button class="w3-button w3-teal w3-xlarge w3-hide-large" onclick="w3_open()">☰</button>
    </div>
    </div>
  </div>
  
  <div class="col-md-8  col-xs-8 top_header side_br_mbl_cntr">
    {% if not request.user.is_superuser  and not request.user.is_supervisor %}
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">

Upload Excel File

</button>

{%endif%}
  </div>
  <div class="col-md-2  col-xs-2 side_bar_rygt_mbl">
    <nav class="navbar navbar-expand-lg lg_in_out">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   <div class="nav_video_photo">
                    
                      <img src="{% url 'profile_image' %}" alt="Profile Photo">
                   </div>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                </ul>
              </li>
          </ul></div>
        </div>
      </nav>
  </div>
    </div>
  </div>
  <div class="container-fluid desktop-section-section">
      <div class="row mt-3">
          <div class="col-md-2 top_header">
            {% if not request.user.is_superuser  and not request.user.is_supervisor %}

            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            
            Upload Excel File
            
            </button>
            
            {%endif%}
          </div>
          <div class="col-md-10">
              <nav class="navbar navbar-expand-lg lg_in_out">
                  <div class="container-fluid">
                  
                    
                    <div class="user_cntain">
                      {% if request.user.is_superuser or request.user.is_supervisor %}
            
                    <form method="GET">
                      <div class="usr_list">
                    <select class="form-select" aria-label="Default select example" name="user_id">
                      <option selected>User List</option>
                      {% for u in users %}
                      <option value="{{u.id}}" {% if u.id == request.GET.user_id %} selected {%endif%} name="checks" >{{ u.username }}</option>
                      {% endfor %}
                      <input type="hidden" value="is_admin">
                    </select>
                    </div>
                    <div class="usr_btn">
                    <input type="submit">
                    </div>
                  </form>
                   {%endif%}
                  </div>
                   
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <i class="fa fa-bars"></i>
                    </button>
                    {% if messages %}
  
                    {% for message in messages %}
                    
                    <div id="myElem" class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                    
                    {% endfor %}
                    
                    {% endif %}
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                             <div class="nav_video_photo">
                                <img src="{% url 'profile_image' %}" alt="Profile Photo">
                             </div>
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
           
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                          </ul>
                        </li>
                    </div>
                  </div>
                </nav>
          </div>
      </div>
  </div>
  <div class="container-fluid">
      <div class="row mt-1 mb-5 tablet_section">
          <div class="col-md-2 desktop-section-section">
              <div class="django_bg_sidebar">
                <h3><a href="#">OR Logbook</a> </h3>
              <ul>
                  <li class="active ">
                      <a href="{% url 'generate_bar_chart' %}">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i>
                        <p>Dashboard</p>
                      </a>
                    </li>
                    <li>
                        <a href="{% url 'Procedure' %}">
                          <i class="fa fa-bars"></i>
                          <p>Procedures</p>
                        </a>
                      </li>
                     {%if not request.user.is_superuser%}
                    <li>
                      <a href="{% url 'change_password' %}">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        <p>User Profile</p>
                      </a>
                    </li>
                    {% endif %}


                    {%if request.user.is_superuser%}
                    <li>
                      <a href="{% url 'delete_user' %}">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        <p>User List</p>
                      </a>
                    </li>
                    {%endif%}
                    <li>
                 
                     
                      <a href="{% url 'logout' %}">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <p>Logout</p>
                      </a>
                    </li>
              </ul>

              {%if request.user.is_superuser%}


              <!---Start Sidebar User-->
              <div class="d-flex align-items-start orlog_book_sidebar">
                <div class="nav flex-column side_bar_tabs" id="v-pills-tab">
                  <ul>
                      <li><a href="{% url 'AddSupervisor' %}"><i class="fa fa-plus"></i>Add Supervisor</a></li>
                      <li><a href="{% url 'AddInstitute' %}"><i class="fa fa-building"></i>Add Institute</a></li>
                      <li><a href="{% url 'AddUser' %}"><i class="fa fa-user"></i>Add User</a></li>
                  </ul>  
                </div>
              </div>
              <div class="user_profile_section">
                <ul>
                  <li><a href="{% url 'UserProfile' %}"><i class="fa fa-id-badge"></i>User Profile</a></li>
              </ul>
              </div>
             
               
                {%endif%}

              <select class="form-select select_box_sidebar fg country" aria-label="Default select example">
               <!-- main screen -->
            <option selected>Select Filter</option>
            <option value="Staff">Staff</option>
            <option value="Sub-Specialty">Sub-Specialty</option>
            <option value="Location">Location</option>
            <option value="Role">Role</option>
            <option value="PGY">PGY</option>
              </select>



              <form method="post" action="">
                {% csrf_token %}
              <div class="get_location get_scroll">
              {% for i in get_location%}
              <input type="checkbox" id="get_location" name="Location" value='{{i}}'>
              <label for="vehicle1" class="color_change"> {{i}}</label><br>
              {%endfor%}
              <div class="btn_select_sbmt">
                <input type="submit" value="Submit">
                </div>
            </div>
 
                     <div class="sub_specialty get_scroll">
              {% for i in get_sub_specialty%}
              <input type="checkbox" id="sub_specialty" name="Sub-Specialty" value='{{i}}'>
              <label for="vehicle1" class="color_change"> {{i}}</label><br>
              {%endfor%}
              <input type="submit" value="Submit"></div>
            

              <div class="get_role_data get_scroll">
              {% for i in get_role_data %}
              <input type="checkbox" id="get_role_data" name="Role" value='{{i}}'>
              <label for="vehicle1" class="color_change"> {{i}}</label><br>
              {%endfor%}
              <input type="submit" value="Submit">
            </div>

              <div class="get_staff get_scroll">
              {% for i in get_staff %}
              <input type="checkbox" id="myCheckBoxID" name="Staff" value='{{i}}'>
              <label for="vehicle1" class="color_change"> {{i}}</label><br>
              {%endfor%}
              <input type="submit" value="Submit">
            </div>
           
          

            
            <div class="get_pgy get_scroll">
            
            {% for i in get_pgy %}
            
            <input type="checkbox" id="myCheckBoxID" name="PGY" value={{i}}>
            
            <label for="vehicle1" class="color_change"> {{i}}</label><br>
            
            {%endfor%}
            
            <input type="submit" value="Submit">
 
            </div>     
            </form><br><br>    
              <script>
              
                $("#myElem").show();
                setTimeout(function() { $("#myElem").hide(); }, 5000);
                
                $('select').on('change', function() {
                   var get_value = this.value;
       
                   if (get_value == 'Role'){
                    $('.get_role_data').show();
                    $('.get_location').hide();
                    $('.sub_specialty').hide();
                    $('.get_staff').hide();
                    $('.get_pgy').hide();
                    
                  }
                  if (get_value == 'Location'){
                    $('.get_location').show();
                    $('.sub_specialty').hide();
                    $('.get_staff').hide();
                    $('.get_role_data').hide();
                    $('.get_pgy').hide();
                    
                  }
                  if (get_value == 'Staff'){
                    $('.get_staff').show();
                    $('.get_location').hide();
                    $('.sub_specialty').hide();
                    $('.get_role_data').hide();
                    $('.get_pgy').hide();
                  }
                  if (get_value == 'Sub-Specialty'){
                    $('.sub_specialty').show();
                    $('.get_role_data').hide();
                    $('.get_staff').hide();
                    $('.get_location').hide();
                    $('.get_pgy').hide();
                  }if (get_value == 'PGY'){

                    $('.get_pgy').show();
                    $('.sub_specialty').hide();
                    $('.get_role_data').hide();
                    $('.get_staff').hide();
                    $('.get_location').hide();

}
                  });
                  
                $('.get_location').hide();
                $('.sub_specialty').hide();
                $('.get_role_data').hide();
                $('.get_staff').hide();
                $('.get_pgy').hide();
              </script>
          </div>
          </div>
  
          <div class="col-lg-10 col-md-12">
        
            <!---Start pill--->
            <div class="edit_profile_bg">
                <h2>Edit Profile</h2>
                <form class="form_edit_profile">
                    <div class="upload_photo col-md-1">
                    
                     

                     <div id="profile-container">
                        <image id="profileImage" src="/profile_pic" />
                     </div>
                     <input id="imageUpload" type="file" 
                            name="profile_photo" placeholder="Photo" required="" capture>

                        </div>

                      
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" name="" value="" placeholder="First Name">
                                </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" name="" value="" placeholder="Last Name">
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" name="" value="" placeholder="Email">
                                </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Affiliated institution</label>
                                        <select class="form-select" aria-label="Default select example">
                                          <option selected>Affiliated institution</option>
                                        </select>
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                
                            </div>
                            <div class="col-md-6 chnge_pswrd">
                                <div class="form-group change_pswrd">
                                    <button class="btn save_btn">Save</button>
                                </div>
                                <a href="{% url 'AddUser' %}">change password</a>
                            </div>
                        </div> 
                </form>
            </div> 
            <!---End Pills---->
           </div>
   
<!-- Modal -->
<div class="modal fade main_mdl_clr" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body institute_section">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" value="" placeholder="user name">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" value="" placeholder="password ">
          </div>
          <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" name="confirm_password" value="" placeholder="confirm_password">
          </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </form>
  </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade main_mdl_clr" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body institute_section">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label>Institute Name</label>
            <input type="text" name="institute" value="" placeholder="institute name">
          </div>
        
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
    </div>
  </div>
</div>



<div class="modal fade main_mdl_clr" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body institute_section">
        <form action="" method="POST">
          {% csrf_token %}
          
          <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" value="" placeholder="email" required>
          </div>
          <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" value="" placeholder="user name" required>
          </div>
          <div class="form-group">
            <label>First name</label>
            <input type="text" name="first_name" value="" placeholder="first name" required>
          </div>
          <div class="form-group">
            <label>Last name</label>
            <input type="text" name="last_name" value="" placeholder="user name" required>
          </div>
          <div class="form-group">
            <label>Supervisor</label>
          <select class="form-select" aria-label="Default select example" name="supervisor" id="selected_value" required>
            <option value="" selected>Select supervisor </option>
            {% for u in supervisor %}
            <option value="{{u.username}}">{{ u.username }}</option>
            {% endfor %}
           
            <input type="hidden" value="is_admin">
          </select>
          </div>
          <div class="form-group">
            <label>Institute</label>
          <select class="form-select" aria-label="Default select example" name="institute" id="selected_value" required>
            <option value="" selected>Select institute </option>
            {% for u in institute %}
            <option value="{{u.institute}}">{{ u.institute }}</option>
            {% endfor %}
           
            <input type="hidden" value="is_admin">
          </select>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" value="" placeholder="password" required >
          </div>
          <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" name="confirm_password" value="" placeholder="confirm_password">
          </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </form>
      </div>
    </div>
  </div>
</div>
         <!-- Modal -->
<div class="modal fade main_popup_mdl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body text-center"> 
            <form form method="POST" enctype="multipart/form-data">
            
              {%csrf_token%}
            <div class="file-upload">
                <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add File</button>
              
                <div class="image-upload-wrap">
                  <input class="file-upload-input" name="document" id="document" required="required" type='file' onchange="readURL(this);"  />
                  <div class="drag-text">
                    <h3>Drag and drop a file or select add Image</h3>
                  </div>
                </div>
                <div class="file-upload-content">
                  <div class="image-title-wrap">
                    <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary sbmt_btn">Submit</button>
            </form>
        </div>
       
      </div>
    </div>
  </div>
  
 <script>

function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

$("#profileImage").click(function(e) {
    $("#imageUpload").click();
});

function fasterPreview( uploader ) {
    if ( uploader.files && uploader.files[0] ){
          $('#profileImage').attr('src', 
             window.URL.createObjectURL(uploader.files[0]) );
    }
}

$("#imageUpload").change(function(){
    fasterPreview( this );
});
</script>
    
</body>
</html>